{% extends "base.html" %}
{% block bodycontent %}
<h1>Sprout Map</h1><br>
{% if results %}
  {% for instance in results %}
  {% for path in instance %}
  {% for i in path %}
    <img src="static/{{ i }}" class="centerfg">
  {% endfor %}
  {% endfor %}
  {% endfor %}
{% else %}
<img src="static/Img/aa/start.png" class="centerfg">
{% endif %}
<form method="POST" action:"/">
<nav>
<div class="DropDown">
  <button class="DropDownTitle">Fruit</button>
  <div class="DropDownContent">
      <label for="apple">Apple</label>
      <input type="checkbox" value="apl" id= "apple" name="crop_check"><br>
      <label for="strawberry">Strawberry</label>
      <input type="checkbox" value='strbry' id="strawberry" name="crop_check"><br>
      <label for="grape">Grapes</label>
      <input type="checkbox" value='grp' id="grape" name="crop_check"><br>
  </div>
</div>
<div class="DropDown">
  <button class="DropDownTitle">Vegetables</button>
  <div class="DropDownContent">
      <label for="tomato">Tomato</label>
      <input type="checkbox" value='tomt' id="tomato" name="crop_check"><br>
      <label for="potato">Potato</label>
      <input type="checkbox" value='ptt' id="potato" name="crop_check"><br>
  </div>
</div>
</nav>
<nav>
<div class = "CalendarContent">
  <label for="january">Jan</label>
  <input type="radio" name="month_check" id= "january" value="jan">
</div>
<div class = "CalendarContent">
  <label for="february">Feb</label>
  <input type="radio" name="month_check" id="february" value="feb">
</div>
<div class = "CalendarContent">
  <label for="march">Mar</label>
  <input type="radio" name="month_check" id="march" value="mar">
</div>
<div class = "CalendarContent">
  <label for="april">Apr</label>
  <input type="radio" name="month_check" id="april" value="apr">
</div>
<div class = "CalendarContent">
  <label for="May">May</label>
  <input type="radio" name="month_check" id="May" value="may">
</div>
<div class = "CalendarContent">
  <label for="june">Jun</label>
  <input type="radio" name="month_check" id="june" value="jun">
</div>
<div class = "CalendarContent">
  <label for="july">Jul</label>
  <input type="radio" name="month_check" id="july" value="jul">
</div>
<div class = "CalendarContent">
  <label for="august">Aug</label>
  <input type="radio" name="month_check" id="august" value="aug">
</div>
<div class = "CalendarContent">
  <label for="september">Sep</label>
  <input type="radio" name="month_check" id="september" value="sep">
</div>
<div class = "CalendarContent">
  <label for="october">Oct</label>
  <input type="radio" name="month_check" id="october" value="oct">
</div>
<div class = "CalendarContent">
  <label for="november">Nov</label>
  <input type="radio" name="month_check" id="november" value="nov">
</div>
<div class = "CalendarContent">
  <label for="december">Dec</label>
  <input type="radio" name="month_check" id="december" value="dec">
</div>
</nav>
<input type="submit" value="Sprout!" class="Go">
</form>
<img src="{{ url_for('static', filename='Img/myWorldMapOL.png')}}" class="centerbg">
<footer>This is a project by Jascha Batzies. Leuphana University, WiSe2021/22, Tech Basics II</footer>
{% endblock %}
